.correct-form {
    padding: 16vh 35vw 10vh;
}

.correct-form header {
    text-align: center;
}

.correct-form-row {
    margin: 1.4vh 0;
}

.radio-button-form input[type="radio"] {
    width: 0;
    opacity: 0;
    position: fixed;
}

.radio-button-form label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family: "Century Gothic Bold", sans-serif;
    border-radius: min(5vw, 5vh);
    border: none;
    background-color: var(--item-bg);
    width: 100%;
    padding: .9rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    /*Prevent text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.radio-button-form input[type="radio"]:checked + label {
    background-color: black;;
    color: white;
}

.radio-button-form input[type="radio"]:not(:checked) + label:hover {
    background-color: var(--bg2-color);
    box-shadow:0 0 0 2px var(--bg2-border-color) inset;
}

.other-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.2em;
}

#correct-form-text {
    align-self: center;
    margin-top: 1vh;
    width: 75%;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: var(--bg2-color);
    border: var(--bg2-border-color) solid 2px;
    border-radius: 0.5em;
}

#correct-form-text:disabled {
    background-color: var(--bg2-border-color);
}

button[type="submit"] {
    align-self: center;
}

.back {
    background-color: var(--bg2-color) !important;
    color: black !important;
}

@media screen and (max-aspect-ratio: 1/1) {
    .correct-form {
        padding: 10vh 10vw 4vh;
    }
}