.class-list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
    grid-column: 1 / 3;
    align-items: center;
    margin-bottom: 2vh;
}

.class-item {
    max-height: 2.2em;
}

.class-title {
    grid-column: 1;
    justify-self: left;
    margin:0.25em;
}

.class-progress {
    grid-column: 2;
    display: flex;
    justify-self: left;
    height: 1.5em;
    width: 100%;
    border-radius: 25vh;
}

.class-proba {
    font-weight: 600;
    justify-self: right;
}

.prediction-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    column-gap: 10vw;
    padding: 20vh 20vw 10vh;
    height: 100vh;
    box-sizing: border-box;
}

.prediction-correct {
    background-color: var(--bg2-color) !important;
    color: black !important;
}

.result-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto 1fr;
    column-gap: 2vw;
    row-gap: 3vh;
}

.result-container > header {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    margin: 0;
}

.image-wrapper {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;
}

.image-wrapper > img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 1rem;
}

.main-predict {
    grid-column: 2;
    align-self: center;
}

.main-predict span,
.infos-predict span {
    padding: .3rem .5rem;
    border-radius: .3rem;
    font-weight: 700;
    margin-left: .3rem;
}

.main-predict span.high,
.infos-predict span.edible {
    background-color: #84e098;
    color: #30ad4b;
}

.main-predict span.good {
    background-color: #b8ec9d;
    color: #6ebb46;
}

.main-predict span.medium {
    background-color: #fbe354;
    color: #d2be46;
}

.main-predict span.low,
.infos-predict span.toxic {
    background-color: #f39494;
    color: #d24646;
}

.infos-predict {
    grid-column: 1 / 3;
}

@media screen and (max-aspect-ratio: 1/1) {
    .prediction-container {
        grid-template-columns: 1fr;
        padding: 10vh 10vw 4vh;
        height: unset;
    }

    .class-list {
        grid-column-gap: 3vw;
    }

    .result-container {
        margin-top: 3vh;
        column-gap: 5vw;
    }
}