p, h1, h2, h3, h4, h5, h6, a, label, button, header, span {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-item-color: #30AD4B;
    --item-contrast-color: white;
    --item-bg: #e8eaea;
    --bg-color: white;
    --bg2-color: #f0f2f3;
    --bg2-border-color: #e8eeee;
    --image-preview-size: min(60vw, 40vh);
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

.logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #fbfbfb;
    border-bottom: var(--bg2-border-color) solid 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo-nav a {
    height: 60%;
}

.logo-nav img {
    height: 100%;
}

header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3vh;
}

button,
input[type=button]:not(.first-upload) {
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    border: none;
    background-color: var(--main-item-color);
    color: var(--bg-color);
    padding: 1rem 2rem;
    cursor: pointer;
    width: 100%;
    transition: transform 150ms ease-in-out;
    margin-top: 2vh;
}

button:hover {
    transform: scale(1.06);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
}

.image-preview-container {
    width: 100%;
    height: 0;
    padding: 50% 0;
    position: relative;
    align-self: center;
}

.image-preview-container.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview {
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
}

/*.fill-width {
    min-width: 100%;
}

.fill-height {
    min-height: 100%;
}*/

button, input[type=text], input[type=button] {
    outline: none;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10vw;
    padding: 20vh 20vw 10vh;
    height: 100vh;
    box-sizing: border-box;
}

.form-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-submit {
    grid-row: 3;
    align-self: end;
}

@media screen and (max-aspect-ratio: 1/1) {
    .logo-nav {
        height: 6vh;
    }

    .form-container {
        grid-template-columns: 1fr;
        row-gap: 3vh;
        padding: 10vh 10vw 4vh;
        height: unset;
    }

    .form-container > div {
        grid-row: 1;
        justify-content: unset;
    }
}